<% if (!categories.length) { %>
    <p class="message">
        No categories.
    </p>
<% } else { %>
    <div class="categories-index">
        <% categories.forEach((category, index) => { %>
            <div class="category-preview category" onclick="location.href='/categories/<%= index %>'">
                <h3>
                    <q><%= category.name %></q>
                </h3>
                <p>
                    ID: <%= category.id %>
                </p>
            </div>
        <% }); %>
    </div>
<% } %>