<h3>
    <q><%= category.name %></q>
</h3>
<p>
    ID: <%= category.id %>
</p>
<h4>Posts:</h4>
<% if (posts.some(post => post.categoryId == category.id)) { %>
<ul>
<% posts.forEach((post, index) => { if (post.categoryId == category.id) { %>
    <li><a href="/posts/<%= index %>"><%= post.title %></a></li>
<% }}) %>
</ul>
<% } else { %>
<p class="message">No posts.</p>
<% } %>