<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="ExpressCMS testing website">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="maalos">

    <title>Edit category</title>

    <link rel="stylesheet" type="text/css" href="/styles/user-style.css">
    <link rel="stylesheet" type="text/css" href="/styles/admin-style.css">
</head>

<body>
    <nav>
        <p><a href="/">Home</a> &raquo; <a href="/dashboard">Dashboard</a> &raquo; Edit category</p>
    </nav>

    <h1>ExpressCMS</h1>
    <h2>Edit category</h2>

    <form action="/edit-category/<%= categoryId %>" method="post">
        <label for="name">Name:</label>
        <br>
        <input type="text" id="name" name="name" value="<%= category.name %>" required>
        <br>
        <br>
        <button type="submit">Save Changes</button>
    </form>
</body>

</html>