<form action="<%= formAction %>" method="post">
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username" value="<%= user.username %>" required>
    <br>
    <label for="password">Password hash:</label>
    <br>
    <input type="text" id="password" name="password" value="<%= user.password %>" required>
    <br>
    <label for="isAdmin">Role:</label>
    <br>
    <select name="isAdmin" id="isAdmin">
        <option value="false">User</option>
        <option value="true">Administrator</option>
    </select>
    <br>
    <br>
    <button type="submit">Save Changes</button>
</form>