<% if (!posts.length) { %>
    <p class="message">
        No posts.
    </p>
<% } else { %>
    <div class="posts-index">
        <% posts.forEach((post, index) => { %>
            <div class="post-preview post" onclick="location.href='/posts/<%= index %>'" >
                <h3>
                    <q><%= post.title %></q>
                </h3>
                <p>
                    <%- post.content.replaceAll("\r", "").replaceAll("\n", "").substring(0, 2048) + ((post.content.replaceAll("\r", "").replaceAll("\n", "<br>").length > 512) ? " [...]" : "") %>
                </p>
            </div>
        <% }); %>
    </div>
<% } %>