input, textarea, select, option, button {
    width: 100%;
    background-color: #111;
    border: 1px solid #e4a0f7;
    color: #eee;
    border-radius: 5px;
}

button {
    width: fit-content;
    padding: 5px;

    &:hover {
        cursor: pointer;
    }
}

#imageButton {
    display: none;
}

#post-editor-preview {
    border: 1px solid #060;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    min-height: 12px;
}

#preview-corner-text {
    position: absolute;
    top: 0;
    right: 5px;
    color: #0c0;
    margin: 0;
    font-size: 12px;
    user-select: none;
    z-index: 100;
}

#dashboard-create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.flex-break {
    flex-basis: 100%;
}

.center {
    text-align: center;
}

.nomargin {
    margin: 0;
}

.border-dashed {
    border-top: 1px dashed rgb(219, 137, 240);
}

.admin-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    background-color: #000000aa;
}