* {
    user-select: text;
    color: #aaa;
}

*{scrollbar-width:auto;scrollbar-color:#007bff none}*::-webkit-scrollbar{width:6px}*::-webkit-scrollbar-track{background:none}*::-webkit-scrollbar-thumb{background-color:#007bff;border-radius:25px;border: 1px solid #111}

body {
    margin: 20px;
    background-color: #111;
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccc;
}

.post, .category, .user {
    margin-bottom: 20px;
    border: 1px solid #222;
    padding: 10px;
    border-radius: 5px;
    overflow: clip;
    width: 100%;
}

.post > a, .category > a, .user > a {
    float: right;
    margin-left: 20px;
}

.posts-index, .categories-index, .users-index {
    display: flex;
    flex-wrap: wrap-reverse;
}

.message, a {
    color: #007BFF;
}

#logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

#dashboard {
    position: absolute;
    top: 60px;
    right: 20px;
}

img {
    max-width: 400px;
    max-height: 400px;
}

.post-preview, .category-preview {
    text-decoration: none;
    color: #aaa;
    cursor: pointer;
    max-height: 250px;
}

.center {
    text-align: center;
}

.dark-page-content {
    max-width: 800px;
    text-align: justify;
    margin: 0 auto;
    box-shadow: 0 0 50px #222;
    background-color: #191919;
    padding: 20px;
    border-radius: 25px;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.container-child {
    width: calc(75% - 10px);
}

.container-child:nth-of-type(2) {
    width: calc(25% - 10px);
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .dark-page-content {
        padding: unset;
    }

    .container-child {
        width: 100% !important;
        margin: 0 !important;
    }
}