* {
    font-family: monospace;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #db89f0 #ffffff;
}
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: transparent;
}
*::-webkit-scrollbar-thumb {
    background-color: #db89f0;
    border: 2px solid #000;
}

body {
    max-width: 80ch;
    background-color: #000;
    color: #fff;
}

a {
    color: #e4a0f7;
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid rgb(219, 137, 240);
}

img {
    max-width: calc(100vw - 16px);
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
    color: #e8c5f1;
}

footer {
    color: rgb(238, 204, 247);
}

#username-link {
    float: right;
}

#dashboard {
    position: absolute;
    top: 10px;
    right: 10px;
}

.preview {
    max-height: 30em;
    overflow-y: scroll;
    overflow-x: clip;
}

.post {
    position: relative;
}

error {
    color: #f00;
    font-weight: bold;
    border: 2px dashed #f00;
    padding: 5px;
    display: block;
    margin: 5px 0;
}

note {
    color: #8ff;
    font-weight: bold;
    border: 2px dashed #8ff;
    padding: 5px;
    display: block;
    margin: 5px 0;
}

@media only screen and (min-width: 80ch) {
    body {
        margin: 8px auto;
    }
}